header
  .navegacion
    .container
      .row.justify-content-center.justify-content-md-between.align-items-center.py-2
        .col-6.col-md-4
          a(href="/")
            img.w-25(src="/img/logo.svg" alt="Logo agencia de viajes")
        .col-6.col-md-8
          nav.nav.justify-content-center.justify-content-md-end
            a.nav-link(href="/us" class=(route === '/us' ? 'active': '')) Nosotros
            a.nav-link(href="/travels" class=(route === '/travels' ? 'active': '')) Viajes
            a.nav-link(href="/testimonial" class=(route === '/testimonial' ? 'active': '')) Testimoniales