extends ../layout/index
block content
  main.container.mt-5
    .row
      .col-md-5
        img.img-fluid.w-75(src="img/nosotros.jpg" alt="Imagen de nosotros")
      .col-md-7
        h1 #{page}
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima repellat cumque neque exercitationem totam veritatis tenetur quae ab architecto veniam, voluptate, non nam nostrum, dolorum error? Veniam quo dolor odit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fuga similique quae doloremque voluptatum? Doloremque nam ipsam sunt, dolor recusandae rem error expedita. Ipsum excepturi harum ea, fugiat consequatur expedita.
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga maxime voluptatibus alias repellat ducimus, dolor obcaecati doloremque cupiditate quisquam placeat excepturi magnam blanditiis fugit cum officia. Numquam modi itaque saepe.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quidem vel tempore quae dolorum dicta, natus nesciunt deleniti est fugit voluptates quasi nulla ipsa excepturi cum optio tenetur voluptatum dolore!
        
        .col-md-4
          img(src="img/icono_destinos.svg", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quidem vel tempore quae dolorum dicta, natus nesciunt deleniti est fugit voluptates quasi nulla ipsa excepturi cum optio tenetur voluptatum dolore!
        
        .col-md-4
          img(src="img/icono_precios.svg", class="img-fluid mb-4")
          h2.mb-4 Mejor Precio 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quidem vel tempore quae dolorum dicta, natus nesciunt deleniti est fugit voluptates quasi nulla ipsa excepturi cum optio tenetur voluptatum dolore!
        